<%= render "header" %>
<p id="notice"><%= notice %></p>



<div class = "table-container">
  <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
  <p class="title is-1" style="color: rgb(183, 137, 243);">My Progress</p>
  <table class = "table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name User</th>
      <th>Total Consumed Calories</th>
      <th>Total Burned Calories</th>
      <th>Diference</th>
      <th>Type</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% numero = 1 %>
    <% @finalReports.each do |report| %>
    
      <tr>
        <td><%= numero %></td>
        <td><%= "#{current_user.name} #{current_user.lastname}" %></td>
        <td><%= report.consumedCalories %></td>
        <td><%= report.burnedCalories %></td>
        <td><%= report.diference %></td>
        <td><%= report.diference_value %></td>
        <td><%= report.creation_date%></td>
        <td><%= link_to 'View Details', list_by_date_date_path(report.creation_date) %></td>
      </tr>
      <% numero = numero + 1 %>
    <% end %>
  </tbody>
</table>
  <div class = "control">
        <%= link_to 'New Report', new_report_path , :class => "button is-link" %>
        <% if @reports.last == nil %>
          <%= link_to 'Graphics',graphic_date_path('0') , :class => "button is-link"%>
        <%else %>
          <%= link_to 'Graphics',graphic_date_path(@reports.last.creation_date) , :class => "button is-link"%>
        <%end %>
  </div>
  <%= will_paginate(@finalReports,:renderer => WillPaginate::ActionView::LinkRenderer, class: 'justify-content-center') %>
 
      
    

</div>



<br>
