<%= render "header" %>
<div class = "table-container">
  <p id="notice"><%= notice %></p>
  <p class = "notice"><%= notice %></p>
    <p class = "alert"><%= alert %></p>
  <p class="title is-1" style="color: rgb(183, 137, 243);">Last 30 days information</p>
  <table class = "table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name User</th>
      <th>Total Consumed Calories</th>
      <th>Total Burned Calories</th>
      <th>Diference</th>
      <th>Type</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% numero = 1 %>
    <% @last_reports.each do |report| %>
    
      <tr>
        <td><%= numero %></td>
        <td><%= "#{current_user.name} #{current_user.lastname}" %></td>
        <td><%= report.consumedCalories %></td>
        <td><%= report.burnedCalories %></td>
        <td><%= report.diference %></td>
        <td><%= report.diference_value %></td>
        <td><%= report.creation_date%></td>
      </tr>
      <% numero = numero + 1 %>
    <% end %>
  </tbody>
</table>
  <%= will_paginate(@last_reports,:renderer => WillPaginate::ActionView::LinkRenderer, class: 'justify-content-center') %>
 
      
    

</div>